.map-container {
  width: 90%;
  height: 800px;
  margin: 0 auto;
}

.legend {
  display: flex;
  flex-wrap: wrap;
}

.legend>div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4px 0;
}

.legend>div>div {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.legend .marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.top-right {
  background: white;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}